* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* header */

header {
  background-color: black;
  width: 100%;
}

header p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 40px;
  color: white;
  text-align: center;
  padding: 10px 0px 0px 0px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 0px 0px 10px 0px;
}

nav a {
  text-align: center;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 20px;
  font-weight: 700;
  padding: 10px 30px 20px 30px;
}

.active {
  color: red;
  background-color: black;
}

nav a:hover {
  color: red;
  background-color: black;
  transform: scale(1.2);
}

/* footer */

footer {
  background-color: #000000;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px 0px 0px 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
  z-index: 1;
}

footer p {
  padding: 10px 0px 20px 0px;
}

/* aside */

aside {
  position: fixed;
  top: 300px;
  right: 20px;
  width: 120px;
  height: 120px;
  background-color: #bd0000;
  border-radius: 50%;
  border: 3px solid rgb(255, 255, 255);
  text-align: center;
  line-height: 120px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  font-size: 24px;
  z-index: 2;
}

aside:hover {
  animation-name: move;
  animation-duration: 1.5s;
}

@keyframes move {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

/* homepage */

.homepage {
  display: flex;
  flex-wrap: wrap;
}

.homepage>div {
  background-color: rgb(1, 1, 1);
  flex: 1;
  height: 500px;
  overflow: hidden;
  position: relative;
 
}



.homepage img{
  width: 100%;
}

.mask {
  opacity: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(155, 1, 1, 0.8);
}

.mask p {
  font-size: 80px;
  color: white;
  text-align: center;
  line-height: 500px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.mask:hover {
  opacity: 1;
}

/* books */

.introduction {
  margin: 30px 15%;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.introduction p {
  margin: 20px 0px;
}

.table2 {
  overflow: scroll;
}

table {
  margin: 0px auto 70px auto;
  border: 1px solid black;
  border-collapse: collapse;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

table tr:nth-child(odd) {
  background-color: #adadadaf;
  color: white;
}

table th {
  background-color: #a90000;
}

table td,
table th {
  border: 1px solid black;
  padding: 15px 25px;
  border-collapse: collapse;
  text-align: center;
}

tr img {
  width: 150px;
  box-shadow: 1px 1px 4px rgb(87, 87, 87);
}

tr img:hover {
  transform: scale(1.7);
}

/* background */

.bg {
  overflow: hidden;
  margin: auto;
  background-color: #000000;
}

.background {
  overflow: hidden;
  position: relative;
  float: left;
  width: 33.333%;
  height: 300px;
  background-color: #000000;
  filter: grayscale(100%) blur(5px);
 
  
}

.background img{
  width: 100%;
  
}

.background:hover {
  filter: grayscale(0%);
  z-index: 1;
  box-shadow: 2px 2px 5px rgb(184, 0, 0);
}

/* reviews */

li {
  margin: 40px auto;
  padding: 20px;
  width: 55%;
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
}

li:hover {
  color: #c10000;
  transform: scale(1.1);
}

li:nth-child(even) {
  background-color: hsl(0, 0%, 94%);
}

.comment {
  background-color: hsl(0, 0%, 94%);
  margin: 20px auto;
  padding: 20px;
  width: 55%;
  text-align: center;
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
}

button {
  margin-top: 10px;
  padding: 5px;
}

/* author */

.author {
  padding: 10px 20px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  margin: 20px 15%;
}

.author p {
  margin: 0px 0px 20px 0px;
}

.right {
  float: left;
  width: 35%;
}

.left {
  width: 50%;
  float: left;
  padding: 0px 5%;
}

figcaption {
  font-size: 16px;
  font-style: italic;
  color: #b40000;
}

figure img {
  width: 100%;
}

figure {
  margin-bottom: 20px;
}

.left a{
  color: #b10000;
  text-decoration: underline;
}

/* different size media queries */

@media screen and (max-width: 1000px) {
  .background {
    width: 50%;
  }

  .author {
    margin: 20px 10%;
  }

  .left {
    width: 90%;
  }

  .right {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  nav {
    flex-direction: column;
  }

  .homepage>div {
    height: 300px;
  }

  tr img {
    width: 100px;
  }

  table td,
  table th {
    padding: 10px 10px;
    font-size: 16px;
  }

  .background {
    width: 100%;
  }

  li,
  .comment {
    width: 80%;
  }

  .author {
    margin: 20px 5%;
  }
}
